/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

html {
  /*  Colors */
  --color-black: 212deg 21% 14%;
  --color-grey: 228deg 12% 48%;
  --color-cream: 30deg 38% 92%;
  --color-white: 0deg 0% 100%;
  --color-green-500: 158deg 36% 37%;
  --color-green-700: 158deg 42% 18%;

  /* Font weights */
  --weight-medium: 500;
  --weight-bold: 700;

  /* Spacing scale */
  --spacing-500: 40px;
  --spacing-400: 32px;
  --spacing-300: 24px;
  --spacing-200: 16px;
  --spacing-100: 8px;
  --spacing-50: 4px;

  --tablet-and-larger: 768px;

  --shadow-color: 32deg 14% 60%;

  --shadow-elevation-medium: 0.2px 0.8px 1.1px
      hsl(var(--shadow-color) / 0.16),
    0.5px 2.4px 3.1px -0.4px hsl(var(--shadow-color) / 0.2),
    0.9px 4.5px 5.9px -0.7px hsl(var(--shadow-color) / 0.24),
    1.6px 8.3px 10.8px -1.1px hsl(var(--shadow-color) / 0.28),
    3px 15.2px 19.8px -1.5px hsl(var(--shadow-color) / 0.32);
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: var(--font-sans-serif);
  background: hsl(var(--color-cream));
}

html,
body {
  height: 100%;
}
